.header {
    font-size: 28px;
}

#targetNumber, #totalScore {
    font-size: 24px;
}

.img-thumbnail {
    cursor: pointer;
}

body {
    background: url("../images/bananas.png");
}

.randomNumberCard, .statusCard {
    height: 150px;
}